/* Color Theme Swatches in Hex */
.Golden-brown-like-sun...-1-hex { color: #BF8339; }
.Golden-brown-like-sun...-2-hex { color: #8C501B; }
.Golden-brown-like-sun...-3-hex { color: #402B18; }
.Golden-brown-like-sun...-4-hex { color: #8C7F77; }
.Golden-brown-like-sun...-5-hex { color: #59514C; }

/* Color Theme Swatches in RGBA */
.Golden-brown-like-sun...-1-rgba { color: rgba(191, 131, 57, 1); }
.Golden-brown-like-sun...-2-rgba { color: rgba(140, 79, 26, 1); }
.Golden-brown-like-sun...-3-rgba { color: rgba(63, 42, 24, 1); }
.Golden-brown-like-sun...-4-rgba { color: rgba(140, 126, 119, 1); }
.Golden-brown-like-sun...-5-rgba { color: rgba(89, 80, 75, 1); }

/* Color Theme Swatches in HSLA */
.Golden-brown-like-sun...-1-hsla { color: hsla(33, 53, 48, 1); }
.Golden-brown-like-sun...-2-hsla { color: hsla(28, 68, 32, 1); }
.Golden-brown-like-sun...-3-hsla { color: hsla(28, 44, 17, 1); }
.Golden-brown-like-sun...-4-hsla { color: hsla(22, 8, 50, 1); }
.Golden-brown-like-sun...-5-hsla { color: hsla(22, 8, 32, 1); }


/* Segunda opcion*/
/* Color Theme Swatches in Hex */
.Retro-old-television-in-vintage-wall-pastel-color-background-1-hex { color: #BAD9C2; }
.Retro-old-television-in-vintage-wall-pastel-color-background-2-hex { color: #F2E0C9; }
.Retro-old-television-in-vintage-wall-pastel-color-background-3-hex { color: #BF7D56; }
.Retro-old-television-in-vintage-wall-pastel-color-background-4-hex { color: #734E38; }
.Retro-old-television-in-vintage-wall-pastel-color-background-5-hex { color: #A64F3C; }

/* Color Theme Swatches in RGBA */
.Retro-old-television-in-vintage-wall-pastel-color-background-1-rgba { color: rgba(186, 216, 193, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-2-rgba { color: rgba(242, 223, 201, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-3-rgba { color: rgba(191, 124, 86, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-4-rgba { color: rgba(114, 77, 56, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-5-rgba { color: rgba(165, 79, 59, 1); }

/* Color Theme Swatches in HSLA */
.Retro-old-television-in-vintage-wall-pastel-color-background-1-hsla { color: hsla(135, 28, 79, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-2-hsla { color: hsla(33, 61, 86, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-3-hsla { color: hsla(22, 45, 54, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-4-hsla { color: hsla(22, 34, 33, 1); }
.Retro-old-television-in-vintage-wall-pastel-color-background-5-hsla { color: hsla(11, 47, 44, 1); }


/* Tercera opción */

/* Color Theme Swatches in Hex */
.vintage-map-of-the-world-1-hex { color: #BF9056; }
.vintage-map-of-the-world-2-hex { color: #D9B384; }
.vintage-map-of-the-world-3-hex { color: #A66D3C; }
.vintage-map-of-the-world-4-hex { color: #402B18; }
.vintage-map-of-the-world-5-hex { color: #733E1F; }

/* Color Theme Swatches in RGBA */
.vintage-map-of-the-world-1-rgba { color: rgba(191, 143, 86, 1); }
.vintage-map-of-the-world-2-rgba { color: rgba(216, 178, 132, 1); }
.vintage-map-of-the-world-3-rgba { color: rgba(165, 109, 59, 1); }
.vintage-map-of-the-world-4-rgba { color: rgba(63, 42, 24, 1); }
.vintage-map-of-the-world-5-rgba { color: rgba(114, 61, 30, 1); }

/* Color Theme Swatches in HSLA */
.vintage-map-of-the-world-1-hsla { color: hsla(33, 45, 54, 1); }
.vintage-map-of-the-world-2-hsla { color: hsla(33, 52, 68, 1); }
.vintage-map-of-the-world-3-hsla { color: hsla(28, 47, 44, 1); }
.vintage-map-of-the-world-4-hsla { color: hsla(28, 44, 17, 1); }
.vintage-map-of-the-world-5-hsla { color: hsla(22, 57, 28, 1); }
