/* Color Theme Swatches in Hex */
.Golden-brown-like-sun...-1-hex { color: #BF8339; }
.Golden-brown-like-sun...-2-hex { color: #8C501B; }
.Golden-brown-like-sun...-3-hex { color: #402B18; }
.Golden-brown-like-sun...-4-hex { color: #8C7F77; }
.Golden-brown-like-sun...-5-hex { color: #59514C; }

/* Color Theme Swatches in RGBA */
.Golden-brown-like-sun...-1-rgba { color: rgba(191, 131, 57, 1); }
.Golden-brown-like-sun...-2-rgba { color: rgba(140, 79, 26, 1); }
.Golden-brown-like-sun...-3-rgba { color: rgba(63, 42, 24, 1); }
.Golden-brown-like-sun...-4-rgba { color: rgba(140, 126, 119, 1); }
.Golden-brown-like-sun...-5-rgba { color: rgba(89, 80, 75, 1); }

/* Color Theme Swatches in HSLA */
.Golden-brown-like-sun...-1-hsla { color: hsla(33, 53, 48, 1); }
.Golden-brown-like-sun...-2-hsla { color: hsla(28, 68, 32, 1); }
.Golden-brown-like-sun...-3-hsla { color: hsla(28, 44, 17, 1); }
.Golden-brown-like-sun...-4-hsla { color: hsla(22, 8, 50, 1); }
.Golden-brown-like-sun...-5-hsla { color: hsla(22, 8, 32, 1); }
