@import url('https://fonts.googleapis.com/css2?family=Benne&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo:#F2E0C9;
    --color-claro: #BAD9C2;
    --color-medio: #BF7D56;
    --color-oscuro:#734E38;
    --color-intenso: #A64F3C;
}
.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.dancing-script-body{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

 html {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-style: normal;
 }

body {
    padding-top: 120px;
    background-color: var(--color-claro);
}
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    background-color:var(--color-medio) ;
    color: var(--color-fondo);
    border: 5px solid var(--color-oscuro);
    padding: 15px 30px;
 }

.header h1 {
    font-size: 2.8rem;
    font-weight: bolder;
}

 .nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
 }
 .nav-bar a {
    text-decoration: none;
    color: var(--color-fondo);
    font-size:2rem;
 }

 .seccion-libros {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
 }

 .seccion-libros img {
    width: 350px;
    height: 500px;
 }

 .card-libro {
    background-color: var(--color-fondo);
    border: 0.5rem solid var(--color-intenso);
 }

 .portada-libro-legado img{
    width: 300px;
    height: 450px;
    margin: 1.5rem; 
 }

 .portada-libro-legado{
border-bottom: 0.2rem solid var(--color-intenso);
 }
 .lista-datos-libro {
    padding: 1rem 0.5rem;
    padding-left: 2rem;
 }